.MuiAvatar-root.MuiAvatar-circle.MuiAvatarGroup-avatar {
    border-radius: inherit;
    margin-left: 5px;
}
.table td, .table th {
    vertical-align: middle;
}
.MuiAvatarGroup-root .MuiAvatar-root {
    width: 44px;
    height: 44px;
}
.order-spinner {
    padding-top: 100px;
}
.recent-order h2 span {
    font-size: 18px;
    vertical-align: middle;
    font-weight: 400;
}