.sidebar-left a {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
    display: inline-block;
    color: #333;
}
.sidebar-left a svg {
    margin-right: 14px;
    color: #dc3545;
}
.sidebar-left {
    padding: 40px;
}
.sidebar-right-add.col-md-9 {
    background: lightgray;
    padding: 40px;
    height: 100%;
}
.sidebar-right-list.col-md-9 {
    background: lightgray;
    padding: 40px;
    height: 100vh;
}

@media only screen and (max-width: 608px) {
    .sidebar-right-add.col-md-9 {
        padding: 40px 0;
    }
    .manage-products {
        border-radius: 0px;
    }
    form.addProduct {
        border-radius: 0px;
    }
    .add-container {
        height: auto;
    }
  }