.product-list img {
    width: 32px;
}
.manage-products .table {
    background-color: #fff;
}
.manage-products thead{
    background-color: lightgray;
}
.manage-products {
    padding: 20px;
    background: #ffff;
    border-radius: 10px;
}
.manage-spinner {
    min-height: 100vh;
}
.product-list svg {
    color: #fff;
}
.product-list button {
    border: 1px solid #999;
    padding: 5px 8px;
    background: #dc3545;
}
.product-action, .product-img {
    text-align: center;
}