input[type="file"] {
    display: none;
}
.custom-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 5px;
    background: azure;
}
.error-msg {
    color: red;
    margin-left: 15px;
}
.success-msg {
    color: green;
    margin-left: 15px;
}
form.addProduct {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.add-container {
    height: 100vh;
}